<head>
    <title>Recepies</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>
      .facebook {
        background-color: #3b5998 !important;
        color: #fff !important;
      }
      .fa-facebook-f:before,
      .fa-facebook:before {
        content: "\f09a";
      }
    </style>
</head>