<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Recepies :)</a>
    </div>
    <% if (locals.sessionID) { %>
        <a href="/logout" class="right"><%= locals.sessionID %> Logout</a>
    <% } %>
</nav>