<!doctype html>
<html>
  <%- include('./partials/_head'); -%>
  <body>
    <%- include('./partials/_navbar'); -%>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row center">
          <div class="col s6 offset-s3">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Nothing found</span>
              </div>
              <div class="card-action">
                <form action="/meal/search" class="form">
                    <input type="text" name="q" placeholder="Search for a meal">
                    <button class="btn btn-primary">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>